MYSQL
user: root
password: {{ mysql_root_password }}

WordPress
user: {{ wordpress_admin_user }}
password: {{ wordpress_admin_password }}

WordPress Database
user: {{ wordpress_db_user }}
password: {{ wordpress_db_password }}
